USE [master]
GO
/****** Object:  Database [dbWhist]    Script Date: 18-09-2012 12:59:22 ******/
CREATE DATABASE [dbWhist]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbWhist', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MYSQL\MSSQL\DATA\dbWhist.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbWhist_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MYSQL\MSSQL\DATA\dbWhist_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbWhist].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbWhist]
GO
/****** Object:  Table [dbo].[tbl_cardEvents]    Script Date: 18-09-2012 12:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_cardEvents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[playDate] [nvarchar](50) NOT NULL,
	[hostID] [int] NOT NULL,
	[description] [ntext] NULL,
 CONSTRAINT [PK_tbl_cardEvents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_game]    Script Date: 18-09-2012 12:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_game](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cardEventID] [int] NOT NULL,
	[player1ID] [int] NOT NULL,
	[player2ID] [int] NOT NULL,
	[player3ID] [int] NOT NULL,
	[player4ID] [int] NOT NULL,
	[contract] [nchar](10) NOT NULL,
	[win] [int] NOT NULL,
	[player1Result] [bit] NOT NULL,
	[player2Result] [bit] NOT NULL,
	[player3Result] [bit] NOT NULL,
	[player4Result] [bit] NOT NULL,
	[contractPlayerID] [int] NOT NULL,
	[contractPlayer2ID] [int] NULL,
 CONSTRAINT [PK_tbl_game] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_users]    Script Date: 18-09-2012 12:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[nickName] [nvarchar](50) NULL,
	[email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tbl_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[tbl_cardEvents]  WITH CHECK ADD  CONSTRAINT [FK_tbl_cardEvents_tbl_users1] FOREIGN KEY([id])
REFERENCES [dbo].[tbl_users] ([id])
GO
ALTER TABLE [dbo].[tbl_cardEvents] CHECK CONSTRAINT [FK_tbl_cardEvents_tbl_users1]
GO
ALTER TABLE [dbo].[tbl_game]  WITH CHECK ADD  CONSTRAINT [FK_tbl_game_tbl_users1] FOREIGN KEY([id])
REFERENCES [dbo].[tbl_users] ([id])
GO
ALTER TABLE [dbo].[tbl_game] CHECK CONSTRAINT [FK_tbl_game_tbl_users1]
GO
USE [master]
GO
